.feature-icon {
  width: 100px;
  height: 100px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.feature-item p {
  width: 250px;
  text-align: center;
}

.circle {
  border: solid #00bc77 10px;
  border-radius: 50%;
  padding: 15px;
}

@media (max-width: 920px) {
  .feature-item {
    width: 85%;
  }
  .feature-item p {
    width: auto;
  }
}
